@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 4% 10%;
  min-width: fit-content;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul, a{
  list-style-type: none;
  text-decoration: none;
  color: gray;
}

.header, 
.footer, 
.left-links, 
.right-links,
.content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

}
.left-links,.right-links {
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: small;
  align-items: flex-end;
  background-color: #eeeeee;
}

.header {
  font-size: small;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  
}